@using TuristickaAgencijaData
@using TuristickaAgencija.Data.Models
@using TuristickaAgencija.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Prikaz";
    string url = "/modulturist/putovanjetur/prikaz?ponudaId=";
    Korisnik korisnik = Context.GetLogiraniKorisnik();
    double broj;

}
@model TuristickaAgencija.Areas.ModulTurist.Models.PutovanjeTurPrikaziVM


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">




    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/modern-business.css" rel="stylesheet">




    <style>

        img {
            position: relative;
            float: left;
            width: 300px;
            height: 300px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: red;
        }

        .btn {
            -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
            -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
            box-shadow: 0px 1px 0px 0px #f0f7fa;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
            background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
            background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
            background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
            background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
            background-color: #33bdef;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #057fd0;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px -1px 0px #5b6178;
            margin-top: 100%;
        }

            .btn:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
                background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
                background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
                background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
                background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
                background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
                background-color: #019ad2;
            }

            .btn:active {
                position: relative;
                top: 1px;
            }


        .media-body {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-left: 4%;
        }

        footer {
            background-color: #2f3640;
            height: 2%;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

    </style>

</head>

<body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <p class="navbar-brand" style="height:12px">WT Travel agency</p>


            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/ModulTurist/turisthome/index">Home</a>
                    </li>





                    @if (korisnik == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/ModulTurist/TuristHome/Registracija">Registracija</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/controllers/login/loginpage?url=@url">Login</a>
                        </li>
                    }




                    <li class="nav-item">
                        <a class="nav-link" href="/ModulTurist/PonudaTur/prikaz">Ponude</a>
                    </li>


                    @if (korisnik == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/modulturist/turisthome/prijava">Završena putovanja</a>
                        </li>
                    }


                    @if (korisnik != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/ModulTurist/Rezervacija/PrikazRezervacija?korisnikId=@korisnik.KorisnikId">Rezervacije</a>
                        </li>




                        <li class="nav-item">

                            <a class="nav-link" href="/controllers/login/odjava?url=@url">Odjava</a>
                        </li>



                    }


                </ul>
            </div>
        </div>
    </nav>



    <div class="container" style="padding-bottom:15%;">
        <br>
        <hr>

        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" style="padding-left:30%;">Destinacija</th>

                        <th scope="col" width="320" style="margin-right:15%;">Polazak -  Povratak </th>

                        <th scope="col" width="200" class="text-right" style="padding-right:12%;">Detalji</th>
                    </tr>
                </thead>




                <tbody>

                    @foreach (var x in Model.redovi)
                    {
                        <tr>
                          
                            <td>
                                <figure class="media">

                                    <div class="img"><img src="@x.slika" class="img-thumbnail img-sm">  </div>
                                    


                                    <figcaption class="media-body">
                                        <h5 class="title text-truncate">@x.nazivGrada </h5>
                                        <h6 class="text-muted">@x.drzava</h6>
                                        <h6 class="text-muted">@x.cijena KM</h6>
                                        <h6 class="text-muted">@x.trajanje dana</h6>
                                        @*<h6 class="text-muted">@x.cijenaBezSmjestaja bezSmjestaja</h6>*@


                                    </figcaption>
                                </figure>
                            </td>

                            <td>
                                <div class="price-wrap">

                                    <small class="text-muted">   @x.datumPolaska    -    @x.datumPovratka</small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-desno">

                                <a href="/ModulTurist/PutovanjeTur/Detalji?putovanjeId=@x.putovanjeId" class="btn">  Prikazi Detalje</a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div> <!-- card.// -->



    </div>

   

   
        <footer  class="py-5 bg-dark" style="height:2%;">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; World Tour 2018</p>
            </div>
            <!-- /.container -->
        </footer>
   

    <!--container end.//-->
    @*<article class="bg-secondary mb-3">
            <div class="card-body text-center">
                <h3 class="text-white mt-3">Bootstrap 4 UI KIT</h3>
                <p class="h5 text-white">
                    Components and templates  <br> for Ecommerce, marketplace, booking websites
                    and product landing pages
                </p>   <br>
                <p>
                    <a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
                        Bootstrap-ecommerce.com
                        <i class="fa fa-window-restore "></i>
                    </a>
                </p>
            </div>
            <br><br>
        </article>*@
</body>