@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TuristickaAgencija.Areas.ModulAdministrator.Models.LicencaIndexVM

@{ int brojac = 1;}
<style>

    #licence.dataTable tbody td {
        padding: 0.3vh;
        background-color: rgb(243,243,244);
    }

    #licence_wrapper {
        padding-bottom: 10px;
    }
</style>
<h3>Licence (@(Model.rows.Count))</h3>
<table id="licence" class="table table-hover table-sm">
    <thead>
        <tr>
            <th>RBr</th>
            <th>Serijski broj</th>
            <th>Naziv</th>
            <th>Datum stjecanja</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@(brojac++)</td>
                <td>@x.serijskiBroj</td>
                <td>@x.naziv</td>
                <td>@x.datumStjecanja</td>
                <td>
                    <button class="btn btn-warning btn-xs" ajax-poziv="da" ajax-rezultat="posjedovaneLicence" ajax-url="/ModulAdministrator/Licenca/Uredi?licencaId=@x.licencaId">Uredi</button>
                    <button class="btn btn-danger btn-xs" ajax-poziv="da" ajax-rezultat="posjedovaneLicence" ajax-url="/ModulAdministrator/Licenca/Obrisi?licencaId=@x.licencaId">Obriši</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success btn-sm" ajax-poziv="da" ajax-rezultat="posjedovaneLicence" ajax-url="/ModulAdministrator/Licenca/Dodaj?zaposlenikId=@Model.zaposlenikId">Dodaj</button>
<script>
    $(document).ready(function () {

        $("#licence").dataTable({
            "pageLength": 5,
            "lengthChange": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json",
            },
        });

    });
</script>