
@{
    ViewData["Title"] = "PregledGrupa";
    Layout = "_ZaposlenikLayout";
}
@model TuristickaAgencija.Areas.ModulZaposlenik.Models.PutovanjeGrupeVM
<style>
    #pregledGrupaMain {
        width: 100%;
        height: 85vh;
    }

    #grupa1 {
        width: 33.3%;
        height: 100%;
        float: left;
        padding: 0.5%;
        border-right: 1px groove black;
    }

    #grupa2 {
        width: 33.3%;
        height: 100%;
        float: left;
        padding: 0.5%;
        border-right: 1px groove black;
    }

    #grupa3 {
        padding: 0.5%;
        width: 33.3%;
        height: 100%;
        float: right;
    }
    .dodajVodica {
        float:right;
    }
    caption span {
        float:right;
    }

</style>

@Html.ActionLink("Nazad", "Pregled", "Putovanje", new { putovanjeId = Model.putovanjeId }, new { @class = "btn btn-primary btn-sm" })
<div id="pregledGrupaMain">
    <div id="grupa1">
        <table class="table table-hover grupa">
            <caption>Grupa: G1 
            @if (Model.rowGrupa1.Count() > 0)
            {
                if (Model.rowGrupa1[0].vodic == "N/A")
                { 
                    @Html.ActionLink("Dodjeli vodiča", "DodjeliVodica", "Putovanje", new { putovanjeId = Model.putovanjeId, nazivGrupe = "G1" }, new { @class = "btn btn-warning btn-xs dodajVodica"})
                }
                else { 
                    <span>Vodič: @Model.rowGrupa1[0].vodic</span>
                }
            }
            </caption>
            <thead>
                <tr>
                    <td>Turist</td>
                    <td>Spol</td>
                    <td>Starost</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.rowGrupa1)
                {
                    <tr>
                        <td>@x.imePrezime</td>
                        <td>@x.spol</td>
                        <td>@x.starost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="grupa2">
        <table class="table table-hover grupa">
            <caption>Grupa: G2 
            @if (Model.rowGrupa2.Count() > 0)
            {
                if (Model.rowGrupa2[0].vodic == "N/A")
                { 
                    @Html.ActionLink("Dodjeli vodiča", "DodjeliVodica", "Putovanje", new { putovanjeId = Model.putovanjeId, nazivGrupe = "G2" }, new { @class = "btn btn-warning btn-xs dodajVodica"})
                }
                else { 
                    <span>Vodič: @Model.rowGrupa2[0].vodic</span>
                }
            }
            </caption>
            <thead>
                <tr>
                    <td>Turist</td>
                    <td>Spol</td>
                    <td>Starost</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.rowGrupa2)
                {
                    <tr>
                        <td>@x.imePrezime</td>
                        <td>@x.spol</td>
                        <td>@x.starost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="grupa3">
        <table class="table table-hover grupa">
            <caption>Grupa: G3
            @if (Model.rowGrupa3.Count() > 0)
            {
                if (Model.rowGrupa3[0].vodic == "N/A")
                {
                    @Html.ActionLink("Dodjeli vodiča", "DodjeliVodica", "Putovanje", new { putovanjeId = Model.putovanjeId, nazivGrupe = "G3" }, new { @class = "btn btn-warning btn-xs dodajVodica" })
                }
                else { 
                    <span>Vodič: @Model.rowGrupa3[0].vodic</span>
                }
            }
            </caption>
            <thead>
                <tr>
                    <td>Turist</td>
                    <td>Spol</td>
                    <td>Starost</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.rowGrupa3)
                {
                    <tr>
                        <td>@x.imePrezime</td>
                        <td>@x.spol</td>
                        <td>@x.starost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".grupa").DataTable({
            "pageLength": 13,
            "lengthChange": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json",
            },

        });

    });
</script>